# ================================
# Credenciales y variables de entorno
# ================================
.env
*.env
.env.*
!.env.example

# ================================
# Archivos de certificados y claves
# ================================
*.p12
*.jks
*.key
*.pem
*.crt
*.cer

# ================================
# Compilados y build local
# ================================
target/

# ================================
# Archivos del IDE
# ================================
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# ================================
# Logs
# ================================
logs/
logs/**
*.log
**/*.log

# ================================
# Git
# ================================
.git/
.gitignore

# ================================
# Documentación y extras
# ================================
docs/
README.md